<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Log In</h3>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Correo eletrónico" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Contraseña" #userPassword required>
      </div>

      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">O</span></span>
      </div>


      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in con Google
        </button>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password">¿Olvidó la contraseña?</span>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Crear una cuenta<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
    </div>

  </div>
</div>
