<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Gracias por registrarse</h3>

      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">Hemos enviado un correo de confirmación <strong>{{user.email}}</strong>.</p>
        <p class="text-center">Por favor revise su correo y haga clic en el link para verificar su identidad.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Volver a enviar correo de verificación
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span>Regresar<span class="redirect" routerLink="/sign-in"> Sign in</span></span>
    </div>

  </div>
</div>
