<h1 class="border-bottom p-2 mb-3">Lista de Proyectos
  <button class="btn btn-link float-right" routerLink="/seguimiento-info">Crear Proyecto</button>
</h1>
<table class="table table-bordered table-striped">
  <thead class="thead-light">
    <tr>
      <th>Prioridad</th>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Area</th>
      <th>Proponente</th>
      <th>Fecha Ingreso</th>
      <th class="botones">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let proy of proyectos">
      <td>{{ proy.prioridad }}</td>
      <td>{{ proy.nombre }}</td>
      <td>{{ proy.descripcion }}</td>
      <td>{{ proy.idArea }}</td>
      <td>{{ proy.proponente }}</td>
      <td>{{ proy.fechaingreso | date }}</td>
      <td class="text-center botones">
        <a class="btn btn-info btn-sm" type="button" routerLink="/seguimiento-info/{{proy.id}}">Información</a>
      </td>
    </tr>
  </tbody>
</table>
