h2 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 40px;
  letter-spacing: 2.6px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: normal;
  text-transform: capitalize;
  text-align: center;
  padding-top: 20px;
}
