<h1 class="border-bottom p-2 mb-3">Proyecto {{ proyecto.nombre }}</h1>

<div class="container">

  <form class="" #proyectoForm="ngForm">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label>Nombre del proyecto</label>
          <input type="text" name="Nombre" #nombre="ngModel" class="form-control" [(ngModel)]="proyecto.nombre" required
            [ngClass]="{ 'is-invalid' :  nombre.invalid && proyectoForm.submitted }" />
          <div class="invalid-feedback">
            <div *ngIf="nombre.hasError('required')">El nombre es requerido</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Área</label>
          <select class="formControlSelect" [(ngModel)]="proyecto.areaNombre" name="area" #area="ngModel"
            [ngClass]="{ 'is-invalid' : proyectoForm.submitted && area.invalid }" required>
            <option *ngFor="let area of areas" value="{{area.nombre}}">{{area.nombre}}</option>
          </select>
          <div class="invalid-feedback">
            <div *ngIf="area.hasError('required')">El área es requerida</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Descripción</label>
          <textarea type="text" name="Descripcion" #descripcion="ngModel" class="form-control" maxlength="50"
            [(ngModel)]="proyecto.descripcion" [ngClass]="{ 'is-invalid' : proyectoForm.submitted && descripcion.invalid }"></textarea>
          <div class="invalid-feedback">
            <div *ngIf="descripcion.hasError('maxlength')">Las descripción es de 50 caracteres o menos.</div>
            <div *ngIf="descripcion.hasError('required')">la descripción es requerida.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Proponente</label>
          <input type="text" name="Proponente" #proponente="ngModel" class="form-control"
            [(ngModel)]="proyecto.proponente" required
            [ngClass]="{ 'is-invalid' : proyectoForm.submitted && proponente.invalid }" />
          <div class="invalid-feedback">
            <div *ngIf="proponente.hasError('required')">El proponente es requerido</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Administrador del proyecto</label>
          <select name="selpm" id="Selpm" class="formControlSelect" #pm="ngModel"
            [(ngModel)]="proyecto.pmNombre" [ngClass]="{ 'is-invalid' : proyectoForm.submitted && pm.invalid }"
            required>
            <option *ngFor="let p of pms" value="{{ p.nombre }}">{{ p.nombre }}</option>
          </select>
          <div class="invalid-feedback">
            <div *ngIf="pm.hasError('required')">El administrador es requerido</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Tipo del proyecto</label>
          <select name="seltipo" id="Seltipo" class="formControlSelect" #tipo="ngModel"
            [(ngModel)]="proyecto.tipoProyectoNombre" [ngClass]="{ 'is-invalid' : proyectoForm.submitted && tipo.invalid }"
            required>
            <option *ngFor="let tip of tipos" value="{{ tip.nombre }}">{{ tip.nombre }}</option>
          </select>
          <div class="invalid-feedback">
            <div *ngIf="tipo.hasError('required')">El tipo es requerido</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Empresa</label>
          <select name="selEmpresa" id="SelEmpresa" class="formControlSelect" #empresa="ngModel"
            [(ngModel)]="proyecto.empresaNombre" [ngClass]="{ 'is-invalid' : proyectoForm.submitted && empresa.invalid }"
            required>
            <option *ngFor="let est of empresas" value="{{ est.nombre }}">{{ est.nombre }}</option>
          </select>
          <div class="invalid-feedback">
            <div *ngIf="empresa.hasError('required')">El estado es requerido</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Prioridad</label>
          <select name="selPrioridad" id="selPrioridad" class="formControlSelect" #prioridad="ngModel"
            [(ngModel)]="proyecto.prioridad" [ngClass]="{ 'is-invalid' : proyectoForm.submitted && prioridad.invalid }"
            required>
            <option *ngFor="let pri of prioridades" value="{{ pri }}">{{ pri }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Estado</label>
          <select name="selEstado" id="SelEstado" class="formControlSelect" #estado="ngModel"
            [(ngModel)]="proyecto.estadoNombre" [ngClass]="{ 'is-invalid' : proyectoForm.submitted && estado.invalid }"
            required>
            <option *ngFor="let est of estados" value="{{ est.nombre }}">{{ est.nombre }}</option>
          </select>
          <div class="invalid-feedback">
            <div *ngIf="estado.hasError('required')">El estado es requerido</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label>Aumenta las ventas</label>
          <input type="number" name="AV" #av="ngModel" class="form-control" [(ngModel)]="proyecto.aumentaVentas"
            required [ngClass]="{ 'is-invalid' : proyectoForm.submitted && av.invalid }" max="3" min="1" maxlength="1"
            placeholder="Entre 1 y 3" (change)="validar3(av.value)" />
          <div class="invalid-feedback">
            <div *ngIf="av.hasError('required')">El indicador de aumento de ventas es requerido.</div>
            <div *ngIf="av.hasError('maxlength')">La longitud máxima es 1</div>
            <div *ngIf="av.hasError('max')">El valor máximo es 3</div>
            <div *ngIf="av.hasError('min')">El valor mínimo es 3</div>
          </div>

        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Mejora el control</label>
          <input type="number" name="MC" #mc="ngModel" class="form-control" [(ngModel)]="proyecto.mejoraControl"
            required [ngClass]="{ 'is-invalid' : proyectoForm.submitted && mc.invalid }" max="3" min="1" maxlength="1"
            placeholder="Entre 1 y 3" (change)="validar3(mc.value)" />
          <div class="invalid-feedback">
            <div *ngIf="av.hasError('required')">El valor es requerido.</div>
            <div *ngIf="av.hasError('maxlength')">La longitud máxima es 1</div>
            <div *ngIf="av.hasError('max')">El valor máximo es 3</div>
            <div *ngIf="av.hasError('min')">El valor mínimo es 3</div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Disminuye Costos</label>
          <input type="number" name="DC" #dc="ngModel" class="form-control" [(ngModel)]="proyecto.disminuyeCostos"
            required [ngClass]="{ 'is-invalid' : proyectoForm.submitted && dc.invalid }" max="3" min="1" maxlength="1"
            placeholder="Entre 1 y 3" (change)="validar3(dc.value)" />
          <div class="invalid-feedback">
            <div *ngIf="av.hasError('required')">El valor es requerido.</div>
            <div *ngIf="av.hasError('maxlength')">La longitud máxima es 1</div>
            <div *ngIf="av.hasError('max')">El valor máximo es 3</div>
            <div *ngIf="av.hasError('min')">El valor mínimo es 3</div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Peso</label>
          <input type="text" name="Peso" #peso="ngModel" class="form-control" [(ngModel)]="proyecto.peso"
            disabled="disabled">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Aporte</label>
          <input type="text" name="Aporte" #aporte="ngModel" class="form-control" [(ngModel)]="proyecto.aporte"
            disabled="disabled" />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Observaciones</label>
          <textarea type="text" name="Observaciones" #observa="ngModel" class="form-control" maxlength="50"
            [(ngModel)]="obs" [ngClass]="{ 'is-invalid' :  observa.invalid }"></textarea>
          <div class="invalid-feedback">
            <div *ngIf="observa.hasError('maxlength')">Las Observaciones son de 50 o menos.</div>
            <div *ngIf="sinObservacion">Debe agregar la observación para guardarla.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group float-right">
      <button type="submit" class="btn btn-outline-success" (click)="guardarObservacion()">Agregar Observación</button>
      <button type="submit" class="btn btn-primary ml-2" (click)="guardar(proyectoForm)">Guardar/Actualizar
        Proyecto</button>
      <button type="button" class="btn btn-secondary ml-2" (click)="atras()">Regresar</button>
    </div>
  </form>

  <table class="table table-bordered table-striped">
    <thead class="thead-light">
      <tr>
        <th class="w-25">Fecha</th>
        <th>Observación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of observaciones">
        <td class="w-25">{{ o.fecha | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        <td>{{ o.observacion }}</td>
      </tr>
    </tbody>
  </table>


</div>
